.time-button-event{
  color: $foreground;
  background-color:$background;
  border-radius:20px;
  transition: color 0.3s, background-color 0.3s;
  &:hover{
    color:$background;
    background-color:$foreground;
  }
}

.time-button-interbox{
  padding: 2.5px 10px;
  font-size: 16px;
}

.info-widget {
  margin:5.5px;
  border-radius: 20px;
  color: $foreground;
  background-color: rgba($background,0.92);
  padding: 10px;
}

.date {
  margin-top: 0;
  font-size: 20px;
  color: $foreground;
  padding-bottom: 10px;
}

.calendar-container {
  font-size: 18px;
  font-weight: 500;
  border-radius: 20px;
  background-color:rgba($color1,0.28);
  color: $foreground;
  margin: 0px 0px 8px 8px;
  padding: 10px 0px 2px 0px;

  calendar {
    padding: 6px;

    &:selected {
      box-shadow: inset 0 -8px 0 0 transparentize($foreground, 0.5), inset 0 0 0 1px $color3;
      border-radius: 16px;
    }

    &.highlight,
    &.header {
      color: $foreground;
    }

    &.button {
      box-shadow: none;
        color: $foreground;
    }

    &:indeterminate {
      color: rgba($foreground, 0.73);
    }
  }
}


.weather {
  border-radius: 16px;
  padding: 16px 16px 48px 16px;
  background-color:rgba($color1,0.28);
  margin: 8px 0px 0px 8px;
}


.weather-current-icon {
  font-size: 48px;
}

.weather-location {
  font-size: 24px;
  font-weight: normal;
  color: $foreground;
}

.weather-current-text {
  font-size: 16px;
  color: $foreground;
}

.weather-info {
  margin-top: 8px;
}

.weather-current-temp {
  font-size: 36px;
  color: $foreground;
}

.weather-current-maxtemp {
  color: $foreground;
  font-size: 24px;
}

.weather-current-mintemp {
  font-size: 20;
  margin-top: 16px;
  margin-left: 8px;
  color: $foreground;
}

.weather-hour {
  margin: 0px 8px;
}

.weather-hour-icon {
  font-size: 32px;
  margin: 4px 0px;
}

.weather-hour-temp {
  color: $foreground;
  font-size: 16px;
}

.weather-hour-time {
  color: $foreground;
  font-size: 16px;
}

.weather-connection-error {
  font-size: 16px;
}


.notifications-center {
  background-color:rgba($color1,0.28);
  padding: 16px;
  color: $foreground;
  margin: 0px 8px 0px 0px;
  border-radius: 16px;
}

.notification-box {
  background-color: rgba($color2, 0.28);
  border: 0.0rem solid $foreground;
  color: $foreground;
  border-radius: 16px;
  margin: 0px 0px 16px 0px;
}

.notification-info {
  margin: 8px 16px 16px 16px;
  margin-bottom: 0;
  font-size: 16px;
}

.notification-image {
  margin-right: 16px;
  border-radius: 32px;
}

.notification-app {
  font-size: 16px;
  font-weight: bold;
  color: $foreground;
  background-color: transparent;
}

.notification-summary {
  font-weight: bold;
  font-size: 16px;
}

.notification-body {
  color: $color3;
  font-weight: normal;
}

.notifications-scroll {
  min-height: 240px;
  margin-top: 16px;
}

.notifications-clear-button {
  background-color: rgba($color2, 0.28);
  color: $foreground;
  padding: 4.8px 16px;
  border-radius: 16px;
  transition: 0s;
  font-size: 20px;
  transition: color 0.3s, background-color 0.3s;
  &:hover{
    color: $background;
    background-color: $foreground;
  }
}

.notifications-header-text {
  font-size: 20px;
}

.notification-action {
  color: $foreground;
  padding: 0px 8px;
  margin: 0px 4px;
  transition: 0.3s;
  border-radius: 4px;
}

.notification-action-box {
  margin-left: 4px;
  margin-bottom: 16px;
  margin-top: 12px;
  color: $foreground;
}

.notification-action:hover {
  background-color: $foreground;
  color: $background;
  border-radius: 80px;
}

.notification-close {
  color: $foreground;
  font-size: 30px;
  border-radius: 24px;
  padding: 4px 10px;
  transition: 0s;
}

.notification-close:hover {
  color: $background;
}

.notifications-popup-body {
  margin: 5.5px;
  border-radius: 20px;
  min-width: 385px;
  background-color: rgba($background,0.92);
  color: $foreground;
}

.weather-forecast{
  border-radius: 16px;
  padding: 16px 16px 48px 16px;
  background-color:rgba($color1,0.28);
  margin-top: 16px;
}

.test-bar{
  background-color: $foreground;
  padding: 5px 0px;
  opacity: 1;
}

.test-bar2{
  background-color: rgba($foreground, 1);
  padding: 5px 1px;
}

.weather-hour-test {
}

.weather-hour-icon-test {
  font-size: 16px;
}

.weather-hour-temp-test {
  color: $foreground;
  font-size: 16px;
}

.weather-hour-time-test {
  color: $foreground;
  font-size: 16px;
}
