.launcher-button{
  margin-left:20px;
}

.launcher-button-event{
  color:$foreground;
  transition: color 0.3s;
  &:hover{
    color:$color1;
  }
}

.launcher-container{
  margin:5.5px;
  border-radius: 20px;
  min-width:400px;
  background-color: rgba($background,0.92);
  padding: 5px;
}

.launcher-header{
  font-size:25px;
  margin-left:15px;
  margin-top:10px;
  margin-bottom:7px;
  color:$color1;
}

.launcher-search-text{
  color: $foreground;
  margin-left:15px;
}

.app-container{
  min-height:400px;
  margin:7px;
  margin-top:17px;
  border-radius:15px;
  background-color:rgba($color1,0.28);
}

.app-option-box{
  font-size:16px;
  margin:5px 5px;
  border-radius:15px;
  padding:10px;
  background-color:rgba($color1,0.28);
}

.app-display{
  margin:2px 2px;
}

.app-ico{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 40px;
    min-width: 40px;
}

.app-name{
  margin-left:15px;
}

