.monitor-button{
  margin-right:10px;
}

.monitor-button-event{
  color:$foreground;
  font-weight:bold;
  font-size:20px;
  font-family: "JetBrainsMono Nerd Font";
  transition: color 0.3s;
  &:hover{
    color:$color1;
  }
}



.system-container, .music-container{
  margin:5.5px;
  border-radius: 20px;
  min-width:400px;
  background-color: rgba($background,0.92);
  padding: 5px;
}

.profile-container{
  min-width:370px;
  margin:0px 7px;
  margin-top:5px;
  padding:10px;
  border-radius:15px;
  background-color:rgba($color1,0.28);
}

.profile-picture{
  background-image: url('./PFP.png');
  background-size: 90px;
  background-position: 50% 35%;
  background-repeat:no-repeat;
  min-height: 90px;
  min-width: 90px;
  border-radius: 100%;
  margin-right:20px;
}

.username{
  font-size:30px;
  color:$foreground;
}

.uptime{
  color:$color2;
}

.ctl-box{
  min-width:230px;
  margin-top:10px;
  border-radius:20px;
  padding:5px;
  background-color:rgba($color3,0.28);
  font-family: "JetBrainsMono Nerd Font";
}

.select-ctl-option{
  color:$foreground;
  transition:color 0.3s;
  &:hover{
    color:$foreground;
  }
}

.unselect-ctl-option{
  color:$color4;
  transition:color 0.3s;
  &:hover{
    color:$foreground;
  }
}



.hardware-container{
  margin:0px 7px;
  margin-top:17px;
  margin-bottom:6px;
  padding:10px;
  background-color:rgba($color1,0.28);
  min-width:370px;
  border-radius:15px;
}

.batico{
  margin-left:10px;
  margin-right:15px;
  font-size:50px;
}

.CHARGING{
  color: $foreground;
}

.BAT1, .BAT2, .BAT3{
  color:$color2;
}

.BAT4, .BAT5{
  color:$color3;
}

.bat-percent{
  font-size:20px;
  color:$foreground;
}

.bat-status{
  color:$color4
}

.divider-h{
  min-height:3px;
  margin:15px 5px;
  background-color:$background;
}

.usage-container{
  margin:0px 10px;
}

.bat-btn{
  font-size:13px;
}

.cpu-box, .ram-box, .disk-box{
  margin:0px 10px;
  border-radius:15px;
  background-color:rgba($color1,0.28);
}

.cpu-progress, .ram-progress, .disk-progress{
  background-color:$background;
  border-radius:100px;
  margin-top:20px;
}

.ramico, .diskico, .cpuico{
  margin-left:20px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size:20px;
}

.cpu-progress, .cpu01{ color: $color3; }
.ram-progress, .ram01{ color: $color4; }
.disk-progress, .disk01{ color: $color5; }
.cpu02, .ram02, .disk02{ color: $color6; }

.cpu-text, .ram-text, .disk-text{
  margin-bottom:10px;
}

.ram-text, .disk-text{
  margin-top:3.2px;
}

.temp-fan-container{
  margin-top:20px;
  margin-left:60px;
  margin-right:60px;
}

.temp-fan{
  margin:0px 10px;
  border-radius:15px;
  color:$foreground;
  background-color:rgba($color1,0.28);
}

.fan-mode-container{
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
}

.unselect-fan{
  color:$background;
  background-color:rgba($color1,0.28);
  border-radius:15px;
  margin-left:10px;
  margin-right:10px;
  padding-left:20px;
  font-size:50px;
}

.select-fan{
  color:$foreground;
  background-color:rgba($color1,0.28);
  border-radius:15px;
  margin-left:10px;
  margin-right:10px;
  padding-left:20px;
  font-size:50px;
}

.vol-light-container{
  border-radius:15px;
  background-color:rgba($color1,0.28);
  margin-left:20px;
  margin-right:20px;
  margin-top:20px;
  margin-bottom:10px;
}

.volume-slider{
  margin-top:10px;
  margin-left:13px;
  color:$foreground;
}

.vol trough {
  all: unset;
  background-color:$background;
  border-radius: 50px;
  min-height: 10px;
  min-width: 220px;
  margin: 0 20px 0 20px;
}

.vol trough highlight {
  all: unset;
  background-color:$color2;
  border-radius: 10px;
}

.vol-text{
  min-width: 30px;
}

.light-slider{
  margin-bottom:10px;
  margin-left:12px;
  color:$foreground;
}

.lig trough {
  all: unset;
  background-color:$background;
  border-radius: 50px;
  min-height: 10px;
  min-width: 220px;
  margin: 0 20px 0 21px;
}

.lig trough highlight {
  all: unset;
  background-color:$color3;
  border-radius: 10px;
}

.light-text{
  min-width: 30px;
}

.music-title{
  margin-left:7px;
  margin-right:7px;
  margin-top:7px;
}

.music-thumbnail{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 96px;
    min-width: 96px;
    border-radius: 16px;
}

.main-title{
  margin-top:15px;
  margin-bottom:12px;
  margin-left:15px;
  font-size:20px;
  color: $foreground;
}

.artist{
  color: $foreground;
  font-size:13px;
  margin-left:15px;
}

.music-slider{
  margin-top:10px;
}

.music-slider trough {
  all: unset;
  background-color: rgba($color4,0.57);
  border-radius: 50px;
  min-height: 5px;
  min-width: 270px;
  margin: 0 20px 0 20px;
}

.music-slider trough highlight {
  all: unset;
  background-color: $foreground;
  border-radius: 10px;
}

.music-timer{
  color: $color5;
  margin:3px 20px;
}

.mico{
  font-size:30px;
  color:rgba($foreground, 0.73);
  margin-left:10px;
  transition:color 0.3s;
  &:hover{
    color:$foreground;
  }
}

tooltip{
  padding:10px;
  border-radius:20px;
  background-color: $color4;
  color: $background;
}
