.wifi-div{
  margin:0px 3px;
}

.wifi-type{
  color:$foreground;
}

.wifi-button{
  padding: 5px 5px 5px 5px;
  color:$foreground;
  border-radius:20px;
  font-size:11px;
  margin:0px 0px;
}

.space-wifi{
  font-size:4px;
}

.wifictl-container{
  margin:5.5px;
  border-radius: 20px;
  min-width:400px;
  background-color: rgba($background,0.92);
  padding: 5px;
}

.wifi-header{
  font-size:25px;
  margin-left:15px;
  margin-top:10px;
  margin-bottom:7px;
  color:$color1;
}

.wifi-stats{
  color: $foreground;
  margin-left:15px;
}

.nocon{
  color:$color2;
}

.yescon{
  color:$color3;
}

.network-container{
  min-height:240px;
  margin:7px;
  margin-top:17px;
  border-radius:15px;
  background-color:rgba($color1,0.28);
}

.wifi-option-box-inuse{
  font-size:16px;
  margin:5px 5px;
  border-radius:15px;
  padding:10px;
  background-color:rgba($foreground,0.28);
}

.wifi-option-box-unuse{
  font-size:16px;
  margin:5px 5px;
  border-radius:15px;
  padding:10px;
  background-color:rgba($background,0.28);
}

.wifi-ssid{
  margin:2px 15px;
}

.wifi-ssid-01{
  color: rgba($foreground,0.57);
}

.wifi-ssid-02{
  color: $foreground;
}

.wifi-ssid-03{
  color: $foreground;
}

.wifi-buttons{
  color: $foreground;
  border-radius:10px;
  background-color: rgba($color1,0.57);
}

.wifi-bcon{
  margin:10px;
}

.iwifi{
  margin-top:2px;
  margin-left:10px;
}

.swifi-header{
  font-size:15px;
  margin-left:15px;
  margin-top:10px;
  margin-bottom:7px;
  color: $foreground;
}
