.ws{
  font-family: "JetBrainsMono Nerd Font";
  font-size: 16px;
}

.ws-box{
  padding: 2.5px 10px;
}

.visiting{
  border-radius:20px;
  color:$background;
  background-color:$foreground;
}

.occupied{
  border-radius:20px;
  color:$foreground;
  background-color:$background;
  transition: color 0.3s, background-color 0.3s;
  &:hover{
    color:$background;
    background-color:$foreground;
  }
}

.free{
  border-radius:20px;
  color:$foreground;
  background-color:$background;
  opacity:0.6;
  transition: opacity 0.3s, color 0.3s, background-color 0.3s;
  &:hover{
    opacity:1;
    color:$background;
    background-color:$foreground;
  }
}
