@import url('/home/niiixkz/.cache/wal/colors-waybar.css');
* {
	background-image: none;
	box-shadow: none;
}

window {
    background-color: transparent;
}

button {
    background-color: alpha(@background, 0.8);
    outline-style: none;
    border: none;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
}

button:focus {
    background-color: alpha(@foreground, 0.8);
    background-size: 30%;
}

button:hover{
    background-color: alpha(@foreground, 0.8);
    background-size: 40%;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

#lock {
    background-image: image(url("/home/niiixkz/.config/wlogout/icons/lock.png"));
    border-radius: 50px 0px 0px 50px;
}
#logout {
    background-image: image(url("/home/niiixkz/.config/wlogout/icons/logout.png"));
}
#suspend {
    background-image: image(url("/home/niiixkz/.config/wlogout/icons/suspend.png"));
}
#hibernate {
    background-image: image(url("/home/niiixkz/.config/wlogout/icons/hibernate.png"));
}
#reboot {
    background-image: image(url("/home/niiixkz/.config/wlogout/icons/reboot.png"));
}
#shutdown {
    background-image: image(url("/home/niiixkz/.config/wlogout/icons/shutdown.png"));
    border-radius: 0px 50px 50px 0px;
}
